@import "_basic";
@import "_mixin";

/* home */
.home {
  &-list {
    margin-top: 30px;
    &__item {
      width: 25%;
      column-gap: 15px;
      border: 1px solid #ddd;
      align-items: center;
      padding-left: 5px;
      &-ico {
        width: 38px;
        height: 38px;
      }
      &-txt {
        @include fs-14;
        font-weight: 700;
      }
    }
  }
  &-links {
    margin-top: 25px;
    @include fs-13;
    justify-content: center;
    column-gap: 25px;
    &__item {
      position: relative;
      &:not(:last-child) {
        &::after {
          content: "";
          display: inline-block;
          width: 1px;
          height: 20px;
          background-color: #ddd;
          position: absolute;
          right: -15px;
          top: 0;
        }
      }
    }
  }
}

/* maker list page */
.maker {
  &-list {
    margin-top: 30px;
    @include fs-13;
    gap: 20px;
    &__item {
      position: relative;
      padding-left: 20px;
      &::before {
        content: "▶";
        color: #00d;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
}

/* item detail page */
.item-detail {
  border: 3px solid #ebeaea;
  border-radius: 5px;
  margin-top: 30px;
  padding: 20px;
  &__upper {
    justify-content: space-between;
    &-before {
      @include fs-11;
      span {
        font-size: 1em;
        background-color: #f7f7f7;
        padding: 3px;
        border-radius: 5px;
      }
    }
    &-after {
      @include fs-12;
    }
  }
  &__title {
    @include fs-20;
    border-bottom: 1px solid #cccccc;
    margin-top: 0;
  }
  &__form {
    width: fit-content;
    margin-left: auto;
    button {
      background-color: transparent;
      border: none;
    }
    &-ico {
      width: 25px;
      display: inline-block;
      cursor: pointer;
    }
  }
  &__txt {
    display: block;
    width: fit-content;
    margin-left: auto;
  }
  &__label {
    background-color: #dfdfdf;
    padding: 5px;
    margin-left: auto;
    display: block;
    width: fit-content;
    margin-top: 5px;
  }
}
.item-shop {
  margin-top: 30px;
  border-collapse: collapse;
  border-bottom: 1px solid $basic-dark-gray;
  &__title {
    background-color: #f2f2f2;
    margin-bottom: 10px;
    padding: 15px;
    @include fs-14;
    text-align: left;
    span {
      color: #666666;
      margin-left: 10px;
      @include fs-13;
    }
  }
  th,
  td {
    @include fs-12;
  }
  th {
    background-color: #e6e6e6;
    font-weight: normal;
    padding: 10px;
    border-left: 1px solid $basic-dark-gray;
    border-top: 1px solid $basic-dark-gray;
    &:first-child {
      width: 20%;
    }
    &:last-child {
      border-right: 1px solid $basic-dark-gray;
    }
  }
  td {
    padding: 20px;
    text-align: center;
    border-left: 1px solid $basic-dark-gray;
    border-top: 1px solid $basic-dark-gray;
    &.price {
      color: #ff0000;
      font-weight: 700;
      @include fs-16;
      text-align: right;
    }
    &:last-child {
      text-align: left;
      border-right: 1px solid $basic-dark-gray;
      h3 {
        @include fs-16;
        color: #0099ff;
      }
      p {
        @include fs-12;
      }
    }
  }
  &__txt {
    @include fs-16;
  }
}
.item-review {
  margin-top: 30px;
  border: 1px solid $basic-dark-gray;
  border-radius: 5px;
  &__heading {
    background-color: #e4e6e9;
    border-radius: 5px 5px 0 0;
    margin: 0;
    @include fs-16;
    padding: 10px;
    span {
      font-size: 0.87em;
      color: #002c6e;
      font-weight: normal;
      margin-left: 10px;
    }
  }
  &__body {
    padding: 20px;
  }
  &__txt {
    @include fs-13;
    margin: 0;
    span {
      color: #ff8400;
      font-size: 1.54em;
      font-weight: 700;
    }
  }
  &__item {
    margin: 15px auto 0;
    width: 70%;
    &-upper {
      @include fs-13;
      align-items: center;
      column-gap: 15px;
      padding: 5px 10px;
      border-radius: 10px 10px 0 0;
      background-color: #e4e6e9;
      h4 {
        span {
          color: #cc0000;
        }
      }
      p {
        &.datetime {
        }
        &.rate {
          column-gap: 5px;
          span {
            font-weight: 700;
          }
          img {
            &.ico {
              width: 15px;
              height: 15px;
            }
          }
        }
      }
    }
    &-lower {
      @include fs-13;
      padding: 0 10px;
    }
  }
  &__link {
    @include fs-13;
    position: relative;
    margin-top: 10px;
    width: fit-content;
    margin-left: auto;
    padding-left: 20px;
    &::before {
      content: "";
      background: url("ico_pencil.png") no-repeat;
      background-size: contain;
      display: inline-block;
      width: 16px;
      height: 19px;
      position: absolute;
      left: 0;
      top: calc(50% - 19px / 2);
    }
  }
}

/* review form */
.review-form {
  margin-top: 30px;
  &__table {
    border-collapse: collapse;
    th {
      width: 25%;
      background-color: $basic-gray;
      @include fs-16;
      padding: 15px;
      border: 1px solid #e6e6e6;
    }
    td {
      border: 1px solid #e6e6e6;
      padding: 15px;
    }
    &-input,
    &-textarea {
      padding: 10px;
      @include fs-14;
      width: 100%;
    }
    &-input {
      &--submit {
        background-color: #f9549b;
        border: none;
        color: #fff;
        margin-top: 20px;
        font-size: 14px;
        border-radius: 5px;
        padding: 10px;
        width: 200px;
        cursor: pointer;
      }
    }
    &-textarea {
      resize: none;
    }
    &-select {
      padding: 10px;
      @include fs-14;
    }
  }
}
