@import "_basic";
@import "_mixin";

/* home */
.home {
  &-list {
    margin-top: 30px;
    &__item {
      width: 25%;
      column-gap: 15px;
      border: 1px solid #ddd;
      align-items: center;
      padding-left: 5px;
      &-ico {
        width: 38px;
        height: 38px;
      }
      &-txt {
        @include fs-14;
        font-weight: 700;
      }
    }
  }
  &-links {
    margin-top: 25px;
    @include fs-13;
    justify-content: center;
    column-gap: 25px;
    &__item {
      position: relative;
      &:not(:last-child) {
        &::after {
          content: "";
          display: inline-block;
          width: 1px;
          height: 20px;
          background-color: #ddd;
          position: absolute;
          right: -15px;
          top: 0;
        }
      }
    }
  }
}

/* maker list page */
.maker {
  &-list {
    margin-top: 30px;
    @include fs-13;
    gap: 20px;
    &__item {
      position: relative;
      padding-left: 20px;
      &::before {
        content: "▶";
        color: #00d;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
}

/* item detail page */
.item-detail {
  border: 3px solid #ebeaea;
  border-radius: 5px;
  margin-top: 30px;
  padding: 20px;
  &__upper {
    justify-content: space-between;
    &-before {
      @include fs-11;
      span {
        font-size: 1em;
        background-color: #f7f7f7;
        padding: 3px;
        border-radius: 5px;
      }
    }
    &-after {
      @include fs-12;
    }
  }
  &__title {
    @include fs-20;
    border-bottom: 1px solid #cccccc;
    margin-top: 0;
  }
  &__form {
    width: fit-content;
    margin-left: auto;
    button {
      background-color: transparent;
      border: none;
    }
    &-ico {
      width: 25px;
      display: inline-block;
      cursor: pointer;
    }
  }
  &__txt {
    display: block;
    width: fit-content;
    margin-left: auto;
  }
}
.item-shop {
  margin-top: 30px;
  border-collapse: collapse;
  border-bottom: 1px solid #808080;
  &__title {
    background-color: #f2f2f2;
    margin-bottom: 10px;
    padding: 15px;
    @include fs-14;
    text-align: left;
    span {
      color: #666666;
      margin-left: 10px;
      @include fs-13;
    }
  }
  th,
  td {
    @include fs-12;
  }
  th {
    background-color: #e6e6e6;
    font-weight: normal;
    padding: 10px;
    border-left: 1px solid #808080;
    border-top: 1px solid #808080;
    &:first-child {
      width: 20%;
    }
    &:last-child {
      border-right: 1px solid #808080;
    }
  }
  td {
    padding: 20px;
    text-align: center;
    border-left: 1px solid #808080;
    border-top: 1px solid #808080;
    &.price {
      color: #ff0000;
      font-weight: 700;
      @include fs-16;
      text-align: right;
    }
    &:last-child {
      text-align: left;
      border-right: 1px solid #808080;
      h3 {
        @include fs-16;
        color: #0099ff;
      }
      p {
        @include fs-12;
      }
    }
  }
  &__txt {
    @include fs-16;
  }
}
